<div class="landing center">  
<h1 class="title-font">LOGIN</h1>
  <div>
    <%=link_to image_tag("ic_launcher.png"), root_path %>
  </div>
  <div class="text-center">
    <div class="button-box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div>
      <%= f.email_field :email, class: "form-input-field", placeholder: "Email" %>
    </div>

    <div>
      <%= f.password_field :password, class: "form-input-field", placeholder: "Password" %>
    </div>

    <div class="actions">
      <%= f.submit "LOGIN", class: "btn btn-primary btn-lg btn-block"%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
